body {
    height: 100%;
    width: 100%;
/*     background-color: green; */
}

article {
    height: 100%;
}

.top-buffer {
    margin-top:20px;
}

#licensing {
  fill: #ccc;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 13px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/* other tree */

.node {
  cursor: pointer;
}

.node text {
	transform: rotate(260deg);
/* 	font-size: 14px sans-serif; */
}

.input-group {
    margin-top: 10px;
/*    display: inline-block;*/
}

#completedAnalysisContent {
    display: none;
}

footer {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#decisionTree path {
	stroke: steelblue;
	stroke-width: 3px;
}

#networkError path {
    stroke-width: 2px;
}

path {
    fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
